.cbody {
	margin-top: 20px;
	margin-left: 20px;
}

.title {
	font-size: 70px;

	text-shadow: 2px 2px 0px rgba(102, 252, 241, 0.50);
}

.content {
	display: flex;
}

.gameInt {
	margin: 5px 10px;

	border-radius: 20px;

	width: 400px;
	height: 300px;

	background-color: #1F2833;
}

.gameTop {
	display: flex;

	margin: 5px 10px;

	border-radius: 20px;

	width: 400px;
	height: 80px;
}

.gameLogo {
	width: 80px;
	height: 80px;

	border-radius: 20px;

	background-color: #1F2833;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-left: 10px;
}

.appTitle {
	
}

.description {
	font-size: 18px;
}

.rating {
	display: flex;
	flex-direction: row;
	align-content: center
}

.star {
	width: 20px;
	height: 20px;

	margin-right: 10px;
}