.cbody {
	margin-top: 20px;
	margin-left: 20px;
}

.title {
	font-size: 70px;

	text-shadow: 2px 2px 0px rgba(102, 252, 241, 0.50);
}
.content{
	display: flex;
}


.content2 {
	display: flex;
	width: 100%;
	 flex-wrap: wrap;
}

.gameInt {
	margin: 5px 10px;

	border-radius: 20px;

	width: 400px;
	height: 300px;

	background-color: #1F2833;
}

.gameTop {
	display: flex;
	margin: 5px 10px;

	border-radius: 20px;


	height: 80px;
	
}

.cards_div{
	/* background-color: red; */
	margin-bottom: 20px;
	display: flex;
    flex: 0 0 calc(33.333% - 20px); /* 3 карточки в строке */
    min-width: 300px; /* Минимальная ширина */
    box-sizing: border-box; /* Учитывать padding и border в ширине */
}

.gameLogo {
	width: 80px;
	height: 80px;

	border-radius: 20px;

	background-color: #1F2833;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-left: 10px;
}

.appTitle {

}

.category {
	font-size: 18px;
	color: #C5C6C7;
}

.rating_div {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.rating_text{
	color:#45A29E;
	font-family: 10px;
}

.star {
	width: 20px;
	height: 20px;

	margin-right: 10px;
}
a{
text-decoration: none;
}