/* ======= Подключение шрифтов Jura ======= */

@font-face {
    font-family: 'Jura';
    src: url('fonts/Jura-Regular.woff2') format('woff2'),
         url('fonts/Jura-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Jura';
    src: url('fonts/Jura-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

/* ======= Глобальная тема ======= */

body {
    margin: 0;
    background: linear-gradient(-45deg, #EDE7FF, #F5F3FF 80%);
    min-height: 100vh;
    font-family: Jura, sans-serif;
    color: #ffffff;
}

html::-webkit-scrollbar {
    width: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1px;
    color: #000;
}

a {
    color: #F5F3FF;
    transition: 0.3s;
}

.main {
    padding: 30px 50px;
}

.review-login {
    color: #000;
}