{% load static %}

@font-face {
    font-family: 'Jura';
    src: url("{% static '/fonts/Jura-SemiBold.eot' %}");
    src: local('Jura SemiBold'), local('Jura-SemiBold'),
        url("{% static '/fonts/Jura-SemiBold.eot?#iefix' %}") format('embedded-opentype'),
        url("{% static '/fonts/Jura-SemiBold.woff2' %}") format('woff2'),
        url("{% static '/fonts/Jura-SemiBold.woff' %}") format('woff'),
        url("{% static '/fonts/Jura-SemiBold.ttf' %}") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url("{% static '/fonts/Jura-Regular.eot' %}");
    src: local('Jura Regular'), local('Jura-Regular'),
        url("{% static '/fonts/Jura-Regular.eot?#iefix' %}") format('embedded-opentype'),
        url("{% static '/fonts/Jura-Regular.woff2' %}") format('woff2'),
        url("{% static '/fonts/Jura-Regular.woff' %}") format('woff'),
        url("{% static '/fonts/Jura-Regular.ttf' %}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url("{% static '/fonts/Jura-Light.eot' %}");
    src: local('Jura Light'), local('Jura-Light'),
        url("{% static '/fonts/Jura-Light.eot?#iefix' %}") format('embedded-opentype'),
        url("{% static '/fonts/Jura-Light.woff2' %}") format('woff2'),
        url("{% static '/fonts/Jura-Light.woff' %}") format('woff'),
        url("{% static '/fonts/Jura-Light.ttf' %}") format('truetype');
    font-weight: 300;
    font-style: normal;
}

{% load static %}

@font-face {
    font-family: 'Jura';
    src: url("{% static '/fonts/Jura-Bold.eot' %}");
    src: local('Jura Bold'), local('Jura-Bold'),
        url("{% static '/fonts/Jura-Bold.eot?#iefix' %}") format('embedded-opentype'),
        url("{% static '/fonts/Jura-Bold.woff2' %}") format('woff2'),
        url("{% static '/fonts/Jura-Bold.woff' %}") format('woff'),
        url("{% static '/fonts/Jura-Bold.ttf' %}") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url("{% static '/fonts/Jura-Medium.eot' %}");
    src: local('Jura Medium'), local('Jura-Medium'),
        url("{% static '/fonts/Jura-Medium.eot?#iefix' %}") format('embedded-opentype'),
        url("{% static '/fonts/Jura-Medium.woff2' %}") format('woff2'),
        url("{% static '/fonts/Jura-Medium.woff' %}") format('woff'),
        url("{% static '/fonts/Jura-Medium.ttf' %}") format('truetype');
    font-weight: 500;
    font-style: normal;
}

.body {
    margin: 0px;
    background-color: #0b0c10;
}

p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-family: Jura, sans-serif;
    letter-spacing: 1px;

    color: #ffffff;

    width: fit-content;
    
    margin: 0;
}