.page {
    margin: 60px 20px;
    color: #1F1F2E;
    font-family: "Jura", sans-serif;
}

.page__title {
    font-size: 62px;
    font-weight: 700;
    max-width: 1240px;
    color: #544DDF;
    margin: 80px 0 80px;
    text-shadow: 0 2px 10px rgba(108, 99, 255, 0.12);
}

.page__intro {
    max-width: 800px;
}

.page__subtitle {
    font-size: 38px;
    color: #4B4B62;
    padding-left: 16px;
    border-left: 4px solid #6C63FF;
}

.page__notice {
    font-size: 20px;
    color: #8A88A6;
    margin-top: 20px;
    margin-bottom: 30px;
}

.auth {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.auth__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 28px;

    font-size: 22px;
    font-weight: 700;
    border-radius: 14px;

    text-decoration: none;
    color: #fff;

    box-shadow: 0 4px 14px rgba(32, 25, 70, 0.15);
    transition: 0.25s ease;
}

.auth__btn--primary {
    background: #6C63FF;
}

.auth__btn--primary:hover {
    background: #544DDF;
    transform: translateY(-2px);
}

.auth__btn--secondary {
    background: #A393FF;
}

.auth__btn--secondary:hover {
    background: #6C63FF;
    transform: translateY(-2px);
}

.categories-section {
    margin-top: 140px;
}

.categories-section__title {
    font-size: 48px;
    font-weight: 600;
    color: #544DDF;
    margin-bottom: 25px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.categories__item {
    padding: 10px 24px;

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    color: #544DDF;
    background: #FAF9FF;

    border: 2px solid #DBD4FF;
    border-radius: 14px;

    box-shadow: 0 4px 14px rgba(32, 25, 70, 0.15);
    transition: 0.25s ease;
}

.categories__item:hover {
    background: #ECE8FF;
    border-color: #A393FF;
    transform: translateY(-2px);
}

.features {
    display: flex;
    gap: 40px;
    margin-top: 90px;
    margin-bottom: 60px;
}

.feature-card {
    max-width: 420px;
    padding: 25px 30px;

    background: #FAF9FF;
    border: 1px solid #DBD4FF;
    border-radius: 16px;

    box-shadow: 0 4px 14px rgba(32, 25, 70, 0.15);
    transition: 0.25s ease;
}

.feature-card:hover {
    background: #ECE8FF;
    transform: translateY(-4px);
}

.feature-card__title {
    font-size: 28px;
    color: #544DDF;
    margin-bottom: 12px;
}

.feature-card__text {
    font-size: 18px;
    color: #8A88A6;
}
