{% extends 'base.html'%}
{% block title%}
Каталог
{% endblock %}

{% block content %}
<div class="cbody">
    <div>
        <h1 class="title">Интересное</h1>
        <div class="content">
            <div class="gameInt"></div>
            <div class="gameInt"></div>
            <div class="gameInt"></div>
        </div>
    </div>
    <div>
        <h1 class="title">Топ игр</h1>
        <div class="content">
            <div class="gameTop">
                <img src="" class="gameLogo">
                <div class="info">
                    <h2 class="appTitle">Название</h2>
                    <p class="description">Описание</p>
                    <div class="rating">
                        <img src="" class="star">
                        <p>5.0</p>
                    </div>
                </div>
            </div>
            <div class="gameTop">
                <img src="" class="gameLogo">
                <div class="info">
                    <h2 class="appTitle">Название</h2>
                    <p class="description">Описание</p>
                    <div class="rating">
                        <img src="" class="star">
                        <p>5.0</p>
                    </div>
                </div>
            </div>
            <div class="gameTop">
                <img src="" class="gameLogo">
                <div class="info">
                    <h2 class="appTitle">Название</h2>
                    <p class="description">Описание</p>
                    <div class="rating">
                        <img src="" class="star">
                        <p>5.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}