{% extends 'base.html'%}
{% load static %}
{% block title%}
Каталог
{% endblock %}

{% block content %}
<div class="cbody">
    <br><br><br>
    <div>
        <h1 class="title">Интересное</h1>
        <div class="content">
            <div class="gameInt"></div>
            <div class="gameInt"></div>
            <div class="gameInt"></div>
        </div>
    </div>
    <div>
        <h1 class="title">Топ приложений</h1>
        <div class="content2">
            {% for app in apps %}
            <div class="cards_div">
            <a href="{% url 'app_detail' app_id=app.id %}" class="gameTop">
                <img src="{{ app.icon.url }}" class="gameLogo">
                <div class="info">
                    <h2 class="appTitle">{{ app.name }}</h2>
                    <p class="category">{{ app.subcategory.name }}</p>
                    <div class="rating_div">
                        <img src="{% static '/src/star.png' %}" class="star">
                        <p class="rating_text">{{ app.rating }}</p>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}