{% extends 'base.html' %}
{% load static %}
{% block title %}
Каталог
{% endblock %}

{% block content %}

<div class="catalog">
    {% if user_top_10_apps %}
        <section class="catalog__section">
            <h1 class="catalog__section-title">Для вас</h1>

            <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                {% for app in user_top_10_apps %}
                <div class="app-grid__item">
  <a href="{% url 'app_detail' app_id=app.id %}" style="display: flex; align-items: center; width: 100%; min-height: 120px; padding: 14px; border-radius: 18px; background: #FBFAFF; text-decoration: none; box-shadow: 0 6px 14px rgba(84, 77, 223, 0.1); border: 2px solid transparent; transition: all 0.35s ease;">

                        <img src="{{ app.icon.url }}" alt="" class="app-card__icon">

                        <div class="app-card__info">
                            <h2 class="app-card__title">{{ app.name }}</h2>
                            <p class="app-card__category">{{ app.subcategory.name }}</p>

                            <div class="app-card__rating">
                                <img src="{% static 'src/star.png' %}" class="app-card__rating-star" alt="">
                                <p style="font-size: 16px; color: #A393FF; margin: 0;">{{ app.rating }}</p>
                            </div>
                        </div>

                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="catalog__section">
        <h1 class="catalog__section-title">Топ приложений</h1>




        <div class="app-grid">
            {% for app in popular_apps %}
            <div class="app-grid__item">
                  <a href="{% url 'app_detail' app_id=app.id %}" style="display: flex; align-items: center; width: 100%; min-height: 120px; padding: 14px; border-radius: 18px; background: #FBFAFF; text-decoration: none; box-shadow: 0 6px 14px rgba(84, 77, 223, 0.1); border: 2px solid transparent; transition: all 0.35s ease;">

                    <img src="{{ app.icon.url }}" alt="" class="app-card__icon">

                    <div class="app-card__info">
                        <h2 class="app-card__title">{{ app.name }}</h2>
                        <p class="app-card__category">{{ app.subcategory.name }}</p>

                        <div class="app-card__rating">
                            <p class="app-card__rating-value">⭐ {{ app.rating|floatformat:1 }}</p>
                        </div>
                    </div>

                </a>
            </div>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}
