{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'glb.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'hello.css' %}">
    <link rel="stylesheet" href="{% static 'catalog.css' %}">
</head>

<body class="body">
    <header class="header">
        <div style="display: flex; align-items: center;">
            <a href="index.html" class="logo">
                <img src="{% static 'src/RuStore_logo.png' %}" class="logoImg">
                <h4 class="siteName">RuStore</h4>
            </a>
            <nav class="menu">
                <a href="{% url 'home' %}"><h3 class="nav">Каталог</h3></a>
                <a href="{% url 'about' %}"><h3 class="nav">Категории</h3></a>
            </nav>
            <button name="search" class="searchBtn"><img src="{% static 'src/поиск2.png' %}" class="searchBtnIcon">Поиск</button>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>