{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'glb.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'catalog.css' %}">
    <link rel="stylesheet" href="{% static 'category.css' %}">
    <link rel="stylesheet" href="{% static 'app_detail.css' %}">
</head>

<body>
    <header class="header">
    <div class="header__inner">

        <!-- ЛОГО -->
        <a href="{% url 'index' %}" class="header__logo">
            <img src="{% static 'src/RuStore_logo.png' %}" class="header__logo-img" alt="Логотип">
            <h4 class="header__logo-text">RuStore</h4>
        </a>

        <!-- МЕНЮ — теперь внутри флекс-структуры -->
        <nav class="nav">
            <a href="{% url 'index' %}" class="nav__item">Главная</a>
            <a href="{% url 'apps' %}" class="nav__item">Каталог</a>
            <a href="{% url 'categories' %}" class="nav__item">Категории</a>
        </nav>

        <!-- ПОИСК + ЮЗЕР -->
        <div class="header__right">
            <button class="search-btn">
                <img src="{% static 'src/search.png' %}" class="search-btn__icon" alt="">
                Поиск
            </button>

            {% if user.is_authenticated %}
                <a href="{% url 'account' %}" class="user-link">
                    <img src="{% static 'src/avatar.png' %}" class="user" alt="">
                </a>
            {% else %}
                <a href="{% url 'signup' %}" class="user-link">
                    <img src="{% static 'src/avatar.png' %}" class="user" alt="">
                </a>
            {% endif %}
        </div>
    </div>
</header>


<!-- ОСНОВНОЙ КОНТЕНТ -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>