{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

     <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="index.html" class="logo">
                <span class="logo-icon">🚀</span>
                MySite
            </a>
            <button class="mobile-menu-btn" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="nav-menu" id="navMenu">
                    <li><a href="{% url 'home' %}" class="nav-link active">Все Tasks</a></li>
                    <li><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
                    <li><a href="{% url 'create' %}" class="nav-link">Создать Task</a></li>
                    
                    <div class="auth-buttons">
                        <a href="{% url 'login' %}" class="btn btn-login">Войти</a>
                        <a href="{% url 'signup' %}" class="btn btn-signup">Регистрация</a>
                        <a href="{% url 'account' %}" class="btn btn-account">Личный кабинет</a>
                        <a href="{% url 'apps' %}" class="btn btn-account">Библиотека</a>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
{% block content %} 
{% endblock %}
</body>
</html>