{% extends 'base.html' %}
{% load static %}

{% block title %}
Выбор категории - HiH Store
{% endblock %}

{% block content %}
<div class="category_list_page">
    <!-- Заголовок -->
    <div class="category_list_header">
        <h1 class="category_list_title">Выберите категорию</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="categories">
            {% for category in categories %}
                <button type="submit" 
                        name="category_id" 
                        value="{{ category.id }}"
                        title="{{ category.description }}">
                    {{ category.name }}
                </button>
            {% endfor %}
        </div>

        {% if selected_category %}
            <h3>Подкатегории для "{{ selected_category.name }}":</h3>
            {% if subcategories %}
                <div class="subcategories">
                    {% for subcategory in subcategories %}
                        <button type="submit"
                                name="subcategory_id"
                                value="{{ subcategory.id }}"
                                title="{{ subcategory.description }}">
                            {{ subcategory.name }}
                        </button>
                    {% endfor %}
                </div>
            {% endif %}

            {% if apps %}
                <div class="apps_page_grid">
                    {% for el in apps %}
                    <!-- Вся карточка становится ссылкой -->
                    <a href="{% url 'app_detail' app_id=el.id %}" class="apps_page_card_link">
                        <div class="apps_page_card">

                            <!-- Иконка -->
                            <div class="apps_page_icon">
                                {% if el.icon %}
                                    <img src="{{ el.icon.url }}" alt="{{ el.name }}" class="apps_page_icon_style">
                                {% else %}
                                    <div class="">📱</div>
                                {% endif %}
                            </div>

                            <!-- Информация -->
                            <div class="apps_page_info">
                                <div class="apps_page_title">{{ el.name }}</div>
                                <div class="apps_page_desc">{{ el.subcategory.name }}</div>
                                <div class="apps_page_rating">
                                    ⭐️ {{ el.rating }}
                                </div>
                            </div>

                        </div>
                    </a>
                    {% endfor %}
                </div>
            {% else %}
                <h1>Нет приложений</h1>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}