{% extends 'base.html'%}
{% load static %}
{% block title%}
{{title}}
{% endblock %}

{% block content %}
<div class="hbody">
    <h1 class="store">Официальный российский магазин приложений для Android</h1>
    
    <div>
        <p class="text">Безопасный доступ к популярным играм и приложениям</p>
        <h2 class="regInfo">Перед использоваением рекомендуется зарегистрироваться или войти в аккаунт, если вы уже зарегистрированы</h2>
        <div class="rnlBtns">
            <a href="signup/"><div class="regBtn">Регистрация</div></a>
            <a href="login"><div class="loginBtn">Войти</div></a>
        </div>
    </div>


    <div class="hcategories">
        <h1 class="excite">Проведите время с удовольствием</h1>
        <div class="catBtns">
            <a href="/categories" class="catBtn">Аркады</a>
            <a href="/categories" class="catBtn">Головоломки</a>
            <a href="/categories" class="catBtn">Шутеры</a>
            <a href="/categories" class="catBtn">Экшен</a>
        </div>
    </div>


    <div class="specials">
        <div class="garanties">
            <h1>Гарантия безопасности</h1>
            <p>Проверка приложений модерзацией и антивирусом</p>
        </div>
        <div class="garanties">
            <h1>Доступ к приложениям без ограничений</h1>
            <p>Все пред рукой — от мобильных банков до игровых китов</p>
        </div>
    </div>
</div>
{% endblock %}